.input-container {
  grid-area: inputs;

  width: 100%;
  display: grid;
  grid-template-areas:
    "number number"
    "expiry cvc";
  grid-template-columns: 1fr 1fr;
  margin: 0;
}

.cc-input-container {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 0;
  overflow: hidden;
}

#cardnumber-container {
  grid-area: number;

  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom: none;
}

#exp-date-container {
  grid-area: expiry;

  border-bottom-left-radius: var(--border-radius);
}

#cvc-container {
  grid-area: cvc;

  border-bottom-right-radius: var(--border-radius);
  border-left: none;
}

.cc-input {
  width: 100%;
  font-size: 1em;
  padding: var(--input-padding);
  background-color: white;
  border: none;
  -webkit-appearance: none;
  appearance: none;
}

.cc-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.cc-input:focus {
  outline: none;
}