html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  /* border: 1px solid red; */
}

body {
  background-color: hsl(0, 0%, 99%);
  font-family: sans-serif;

  --input-padding: .75em;
  --border-radius: .5em;
  --corset-max-width: 400px;
  --corset-padding: 30px;
  --corset-gap: var(--corset-padding);
  --gh-logo-size: calc(1.5 * var(--corset-padding));
  --toast-width: 200px;
}

.corset {
  display: grid;
  height: 100%;
  padding: var(--corset-padding);
  align-items: flex-end;
}

@media (max-width: 650px) {
  .corset {
    grid-template-areas:
    "inputs"
    "footer"
    "gh-link";
    grid-template-rows: 1fr 1fr min-content;
    justify-items: center;
    row-gap: var(--corset-gap);
  }
}

@media (min-width: 650px) {
  .corset {
    grid-template-areas:
      ".       inputs      ."
      "gh-link footer .";
    grid-template-columns: 1fr var(--corset-max-width) 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: var(--corset-gap);
  }
}

.corset::before {
  content: "";
  background-image: url("./watermark-diagonal.png");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .1;
  z-index: -1;
}

.input-container {
  grid-area: inputs;

  width: 100%;
  display: grid;
  grid-template-areas:
    "number number"
    "expiry cvc";
  grid-template-columns: 1fr 1fr;
  margin: 0;
}

.cc-input {
  width: 100%;
  font-size: 1em;
  padding: var(--input-padding);
  background-color: white;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
}

.cc-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.cc-input:focus {
  outline: none;
}

.cc-input[name="cardnumber"] {
  grid-area: number;

  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom: none;
}

.cc-input[name="exp-date"] {
  grid-area: expiry;

  border-bottom-left-radius: var(--border-radius);
}

.cc-input[name="cvc"] {
  grid-area: cvc;

  border-bottom-right-radius: var(--border-radius);
  border-left: none;
}

label {
  display: none;
}

.gh-link {
  grid-area: gh-link;
}

.gh-logo {
  height: var(--gh-logo-size);
  width: var(--gh-logo-size);
  background-color: hsl(0, 0%, 99%);
  fill: hsl(0, 0%, 50%);
}

  .gh-link:hover .gh-logo,
  .gh-link:active .gh-logo {
    fill: hsl(0, 0%, 0%);
  }

#footer-text {
  grid-area: footer;

  display: grid;
  grid-template-columns: 1fr;
  row-gap: calc(var(--corset-gap) / 2);
  user-select: none;

  background-color: hsl(0, 0%, 99%);
  padding: calc(var(--corset-gap) / 2);
  border-radius: var(--border-radius);
  border: 1px solid hsl(0, 0%, 80%);
}

  #footer-text a,
  #footer-text a:visited {
    color: hsl(233, 52%, 53%);
    text-decoration: none;
  }

  #footer-text a:hover {
    text-decoration: underline;
  }

  #footer-text:not(.show-about) {
    justify-self: center;
    cursor: pointer;
    text-align: center;
  }

  #footer-text:not(.show-about):hover,
  #footer-text:not(.show-about):active {
    filter: brightness(1.1);
  }

#description {
  font-size: 1em;
}

#disclaimer {
  font-size: .8em;
}

#about-button {
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 1px;
}

#footer-text.show-about #about-button {
  display: none;
}

#footer-text:not(.show-about) #description,
#footer-text:not(.show-about) #disclaimer {
  display: none;
}

#toast-container {
  opacity: 0;
  position: absolute;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  pointer-events: none;
  animation: slide-in-toast 4s;
}

#toast {
  background-color: hsl(145, 63%, 42%);
  padding: calc(var(--corset-gap) / 2);
  border-radius: 100px;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 1px;
  color: white;
}

@keyframes slide-in-toast {
  0% {
    opacity: 0;
    top: -10px;
  }

  10% {
    opacity: 1;
    top: var(--corset-padding);
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}