.input-container {
  grid-area: inputs;

  width: 100%;
  display: grid;
  grid-template-areas:
    "number number"
    "expiry cvc";
  grid-template-columns: 1fr 1fr;
  margin: 0;
  background-color: white;
}

.cc-input-container {
  display: grid;
  grid-template-columns: 1fr calc(2 * var(--input-padding) + 1em + 1px);

  border: 1px solid var(--border-color);
  border-radius: 0;
  overflow: hidden;
}

#cardnumber-container {
  grid-area: number;

  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom: none;
}

#exp-date-container {
  grid-area: expiry;

  border-bottom-left-radius: var(--border-radius);
}

#cvc-container {
  grid-area: cvc;

  border-bottom-right-radius: var(--border-radius);
  border-left: none;
}

.cc-input {
  width: 100%;
  font-size: 1em;
  padding: var(--input-padding);
  background-color: white;
  border: none;
  -webkit-appearance: none;
  appearance: none;
}

.cc-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.cc-input:focus {
  outline: none;
}

.copy-button {
  padding: var(--input-padding);
  border-left: 1px solid var(--border-color);
  background-color: hsl(210, 25%, 98%);
}

  .copy-button:hover {
    background-color: hsl(220, 14%, 96%);
  }

  .copy-button:active {
    background-color: hsl(216, 16%, 94%);
  }

.copy-icon {
  height: 100%;
  background-color: transparent;
  fill: hsl(0, 0%, 50%);
}

  .copy-button:hover .copy-icon,
  .copy-button:active .copy-icon {
    fill: hsl(0, 0%, 0%);
  }